.header {
    background-color: #005963;
}

/* .link a {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.link a:hover {
    color: white;
}
.link a:active {
    color: white;
    border-bottom: 2px solid white;
} */

